/* Imagem estilo banner */
.hero img {
    width: 100%;
    height: 250px; /* ajuste como preferir */
    object-fit: cover; /* mantém o corte bonito */
    display: block;
}

/* Título */
.titulo {
    margin: 0;
    padding: 40px 0 20px 0;
    text-align: center;
    font-size: 2.5rem;
    color: #55d6b0; /* cor parecida com a da imagem */
    font-weight: 700;

}
