/*header css*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.navbar-nav .nav-link {
    color: #A2A2A2 !important;
    font-weight: 500;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 3.0rem;
    gap: 70px;
    transition: color 0.3s ease;
}

.navbar-collapse {
    justify-content: center !important;
    position: relative;
}

.navbar-nav .nav-link i {
    color: inherit;
}

.navbar-nav .nav-link:hover {
    color: #50D9B0 !important;
}

.navbar-nav .nav-link.active {
    color: #A2A2A2;
}

.profile-link {
    font-size: 28px;
    color: #A2A2A2 !important;
    transition: color 0.3s ease;
}

.profile-link i:hover {
    color: #50D9B0 !important;
}

.titulo {
    color: #50D9B0;
    font-size: 20px;
    font-weight: bold;
}
/*----------------*/

page-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* banner */
.hero-banner img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

/* titulo */
.titulo {
  text-align: center;
  margin-top: 25px;
}

.titulo h2 {
      color: #4cd964;
      margin-top: 0;
}

.titulo p {
      color: #666;
      font-size: 14px;
}