/* header */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.navbar-nav .nav-link {
    color: #A2A2A2 !important;
    font-weight: 500;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 3.0rem;
    gap: 70px;
    transition: color 0.3s ease;
}

.navbar-collapse {
    justify-content: center !important;
    position: relative;
}

.navbar-nav .nav-link i {
    color: inherit;
}

.navbar-nav .nav-link:hover {
    color: #50D9B0 !important;
}

.navbar-nav .nav-link.active {
    color: #A2A2A2;
}

.profile-link {
    font-size: 28px;
    color: #A2A2A2 !important;
    transition: color 0.3s ease;
}

.profile-link i:hover {
    color: #50D9B0 !important;
}

.titulo {
    color: #50D9B0;
    font-size: 20px;
    font-weight: bold;
}
/*----------------*/

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
    }
    .header {
      width: 100%;
      height: 250px;
      background-image: url('../assets/img/geladeira.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
      padding: 20px;
    }

    
    .container {
      max-width: 1200px;
      margin: 40px auto;
      padding: 20px;
    }
    h1 {
      color: #4cd964;
      text-align: center;
    }
    p.subtitle {
      text-align: center;
      color: #666;
      margin-bottom: 30px;
    }