/* NAVBAR*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.navbar-nav .nav-link {
    color: #A2A2A2 !important;
    font-weight: 500;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 3.0rem;
    gap: 70px;
    transition: color 0.3s ease;
}

.navbar-collapse {
    justify-content: center !important;
    position: relative;
}

.navbar-nav .nav-link i {
    color: inherit;
}

.navbar-nav .nav-link:hover {
    color: #50D9B0 !important;
}

.navbar-nav .nav-link.active {
    color: #A2A2A2;
}

.profile-link {
    font-size: 28px;
    color: #A2A2A2 !important;
    transition: color 0.3s ease;
}

.profile-link i:hover {
    color: #50D9B0 !important;
}

.titulo {
    color: #50D9B0;
    font-size: 20px;
    font-weight: bold;
}
/*----------------*/


/* banner */
.geladeira-banner {
    width: 100%;
    height: 250px;
    background-image: url('../assets/img/geladeira.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
 }

.geladeira-title {
    text-align: center;
    padding: 35px 0 20px 0;
}

.geladeira-title h1 {
    font-size: 28px;
    font-weight: 600;
}

.geladeira-title p {
    color: #777;
    margin-top: 5px;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
    border: none;
}

/* titulo cards */
.card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* inputs */
.form-control {
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    height: 42px;
}

.autocomplete-box {
    position: absolute;
    background: white;
    width: 100%;
    border-radius: 10px;
    top: 43px;
    left: 0;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
    z-index: 50;
}

.autocomplete-item {
    padding: 10px 12px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background: #f2f2f2;
}

.btn {
    border-radius: 10px;
    height: 42px;
    font-weight: 500;
}

.ingrediente-item {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 14px;
    margin-bottom: 12px;
}

.lista-basicos button {
    margin: 5px;
}


