body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

/* ====== CORES ====== */
.text-green {
  color:  #50D9B0;
}

.text-blue {
  color:  #50D9B0;
}

.text-orange {
  color:  #50D9B0;
}

/* ====== BOTÃO DEGRADÊ ====== */
.btn-gradient {
  background: #50D9B0;
  color: #fff !important;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  background: #50D9B0;
  transform: scale(1.05);
}

/* ====== HERO ====== */
.hero {
  position: relative;
  display: flex;
  align-items: center;       
  justify-content: center;   
  flex-direction: column;
  text-align: center;
  height: 40vh;            
}

/* Ajustes de texto dentro da hero */
.hero h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #333;
}

.hero p {
  font-size: 1rem;
  color: #555;
  max-width: 650px;
  margin: 20px auto 0;
}

.hero .btn-gradient {
  margin-top: 25px;
  padding: 10px 30px;
  font-size: 1rem;
}

/* parallax */
.parallax {
  position: relative;
  width: 100%;
  height: 481px;
  background-image: url('/assets/img/home.jpg');
  background-size: cover;        /* cobre tudo sem repetir */
  background-repeat: no-repeat;  /* nunca repete */
  background-position: center center;
  background-attachment: scroll; /* desativa o fixed */
  overflow: hidden;              /* evita mostrar fora da área */
}



.parallax::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}


/* ====== CARDS ====== */
.card {
  border-radius: 16px;
  transition: 0.3s;
}

.card-body{
  padding: 40px;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.span{
    color: #50D9B0;
}

/* ====== ANIMAÇÃO DO MENU HAMBÚRGUER ====== */
.navbar-collapse {
  transition: all 0.35s ease;
  transform-origin: top;
}

.navbar-collapse.animating.collapse:not(.show) {
  display: block;
  height: 0;
  opacity: 0;
  transform: scaleY(0.9);
}

.navbar-collapse.collapse.show {
  opacity: 1;
  transform: scaleY(1);
}

.navbar-collapse.animating.collapse.show {
  opacity: 0;
  transform: scaleY(0.9);
}


/* ====== RESPONSIVIDADE ====== */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}
/* ===== RESPONSIVIDADE ===== */
@media (max-width: 992px) {
  .parallax {
    height: 300px;
    background-attachment: scroll; /* desativa efeito fixo em mobile */
  }
}

@media (max-width: 576px) {
  .parallax {
    height: 220px;
  }
}
