/* Configuração geral de fonte para ficar bonito */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* --- Estilo da Imagem (Hero) --- */
.hero {
    width: 100%;
    height: 300px;
    background: url('../assets/img/receitas.jpg') no-repeat center center; 
    background-size: cover;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;

    
}


/* --- Estilo do Texto --- */
.conteudo-texto {
    text-align: center; /* Centraliza tudo */
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto; /* Centraliza o bloco na tela */
}

.titulo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #4FE3C1; /* Aquele verde piscina da imagem */
    margin: 0 0 15px 0; /* Espaço embaixo do título */
    line-height: 1.2;
}

.subtexto {
    font-size: 1.2rem;
    color: #7f8c8d; /* Cinza suave */
    margin: 0;
    font-weight: 400;
}